In [1]:
import pandas as pd
import numpy as np

# Menu items with Price
menu_items_with_price = {
    "Aloo Tikki Burger": 49, "Aloo Tikki Twist":69, "Veg Makhani":79, "Crispy Veg Burger":99,
    "Veg Chilly Loaded Burger":99, "Desi Masala Crunch":119, "Punjabi Paneer":109, 
    "Veg King Burger":99, "Paneer Supreme Burger":129, "Double Crispy Cheese Burger":129
}

menu_items = [i for i in menu_items_with_price.keys()]
price = [i for i in menu_items_with_price.values()]
# Generate date range for 3 months
dates = pd.date_range(start='2024-07-01', end='2024-09-30')

# Create dummy sales data
data = {
    'Date': np.repeat(dates, len(menu_items)),  # Repeat each date for all menu items
    'Food Item': menu_items * len(dates),  # Repeat each food item for each date
    'Sales': np.random.randint(20, 100, size=len(dates) * len(menu_items)),  # Random sales quantity between 20 and 100
    'Price': price * len(dates)
}


# Create DataFrame
dummy_data = pd.DataFrame(data)

# Adding Category Columns
dummy_data["Category"] = "Burger"

# Display the first few rows of the data
dummy_data.head()

        Date                 Food Item  Sales  Price Category
0 2024-07-01         Aloo Tikki Burger     69     49   Burger
1 2024-07-01          Aloo Tikki Twist     54     69   Burger
2 2024-07-01               Veg Makhani     78     79   Burger
3 2024-07-01         Crispy Veg Burger     31     99   Burger
4 2024-07-01  Veg Chilly Loaded Burger     64     99   Burger

In [2]:
dummy_data[dummy_data['Food Item']=='Aloo Tikki Burger'].nunique()

Date         92
Food Item     1
Sales        54
Price         1
Category      1
dtype: int64

In [3]:
dummy_data.sample(10)

          Date                    Food Item  Sales  Price Category
396 2024-08-09               Punjabi Paneer     76    109   Burger
669 2024-09-05  Double Crispy Cheese Burger     31    129   Burger
492 2024-08-19                  Veg Makhani     45     79   Burger
301 2024-07-31             Aloo Tikki Twist     94     69   Burger
796 2024-09-18               Punjabi Paneer     65    109   Burger
271 2024-07-28             Aloo Tikki Twist     78     69   Burger
319 2024-08-01  Double Crispy Cheese Burger     36    129   Burger
739 2024-09-12  Double Crispy Cheese Burger     87    129   Burger
719 2024-09-10  Double Crispy Cheese Burger     39    129   Burger
684 2024-09-07     Veg Chilly Loaded Burger     90     99   Burger

In [4]:
# dummy_data.to_csv("restaurant_dummy_sales.csv", index=False)

In [5]:
dummy_data.describe()

                      Date       Sales       Price
count                  920  920.000000  920.000000
mean   2024-08-15 12:00:00   58.609783   98.000000
min    2024-07-01 00:00:00   20.000000   49.000000
25%    2024-07-23 18:00:00   39.000000   79.000000
50%    2024-08-15 12:00:00   57.000000   99.000000
75%    2024-09-07 06:00:00   78.000000  119.000000
max    2024-09-30 00:00:00   99.000000  129.000000
std                    NaN   22.753897   24.691348

In [6]:
dummy_data.shape

(920, 5)

In [7]:
ingredient_category = {
    'Tikki':['Aloo Tikki','Veg Tikki','Paneer Tikki','Super Veg Tikki'],
    'Veggies':['Onion','Iceberg','Lettuce','Jalapeno','Tomato','Nachos'],
    'Sauces':['Aloo Tikki Sauce','Twist Sauce','Mayonnaise','Makhni Sauce','Creamy Sauce','Nacho Loaded Sauce', 
              'Chilly Loaded Sauce','Supreme Sauce','Wrap Sauce','Nacho Sauce'],
    'Other':['Bun','Cheese Slice']    
}

# Burger Data
burgers = {
            "Aloo Tikki Burger":{'Bun':'1 pcs','Aloo Tikki Sauce (top)':'15 gm','Onion':'8 gm','Aloo Tikki':'1 pcs','Aloo Tikki Sauce':'12 gm'},
            "Aloo Tikki Twist":{'Bun':'1 pcs','Twist Sauce':'12 gm','Onion':'8 gm','Aloo Tikki':'1 pcs','Mayonnaise':'15 gm'},
            "Veg Makhani":{'Bun':'1 pcs','Makhni Sauce (top)':'12 gm','Iceberg':'8 gm','Onion':'8 gm','Veg Tikki':'1 pcs','Makhni Sauce':'15 gm'},
            "Crispy Veg Burger":{'Bun':'1 pcs','Creamy Sauce':'20 gm','Lettuce':'8 gm','Jalapeno':'2 pcs','Onion':'8 gm','Veg Tikki':'1 pcs','Chilly Loaded Sauce':'10 gm'}, 
            "Veg Chilly Loaded Burger":{'Bun':'1 pcs','Chilly Loaded Sauce (top)':'20 gm','Lettuce':'8 gm','Onion':'8 gm','Jalapeno':'2 pcs','Veg Tikki':'1 pcs','Chilly Loaded Sauce':'12 gm'},
            "Desi Masala Crunch":{'Bun':'1 pcs','Creamy Sauce':'20 gm','Lettuce':'8 gm','Tomato':'1 pcs','Jalapeno':'2 pcs','Onion':'8 gm','Nachos':'3 pcs','Veg Tikki':'1 pcs','Nacho Sauce':'12 gm'},
            "Punjabi Paneer":{'Bun':'1 pcs','Supreme Sauce':'25 gm','Iceberg':'8 gm','Tomato':'2 pcs','Jalapeno':'2 pcs','Onion':'8 gm','Paneer Tikki':'1 pcs','Wrap Sauce':'15 gm'}, 
            "Veg King Burger":{'Bun':'1 pcs','Wrap Sauce':'25 gm','Iceberg':'8 gm','Tomato':'1 pcs','Onion':'10 gm','Super Veg Tikki':'1 pcs','Nacho Sauce':'15 gm'},
            "Paneer Supreme Burger":{'Bun':'1 pcs','Supreme Sauce':'25 gm','Lettuce':'8 gm','Jalapeno':'2 pcs','Onion':'10 gm','Creamy Sauce':'12gm','Paneer Tikki':'1 pcs','Chilly Loaded Sauce':'12 gm'},
            "Double Crispy Cheese Burger":{'Bun':'1 pcs','Supreme Sauce':'20 gm','Lettuce':'8 gm','Jalapeno':'2 pcs','Onion':'8 gm','Cheese Slice':'1 pcs','Veg Tikki':'2 pcs','Chilly Loaded Sauce':'12 gm'}
           }

In [8]:
# List to hold the data for the DataFrame
data = []

# Loop over each burger and its ingredients
for burger_name, ingredients in burgers.items():
    for ingredient, quantity in ingredients.items():
        data.append([burger_name, ingredient, quantity])

# Creating DataFrame
df = pd.DataFrame(data, columns=['Burger_Name', 'Ingredient', 'Quantity'])

# Display the DataFrame
df.head(10)

         Burger_Name              Ingredient Quantity
0  Aloo Tikki Burger                     Bun    1 pcs
1  Aloo Tikki Burger  Aloo Tikki Sauce (top)    15 gm
2  Aloo Tikki Burger                   Onion     8 gm
3  Aloo Tikki Burger              Aloo Tikki    1 pcs
4  Aloo Tikki Burger        Aloo Tikki Sauce    12 gm
5   Aloo Tikki Twist                     Bun    1 pcs
6   Aloo Tikki Twist             Twist Sauce    12 gm
7   Aloo Tikki Twist                   Onion     8 gm
8   Aloo Tikki Twist              Aloo Tikki    1 pcs
9   Aloo Tikki Twist              Mayonnaise    15 gm

In [9]:
for i in burgers.keys():
    print(df[df['Burger_Name']==i])
    print("\n")

         Burger_Name              Ingredient Quantity
0  Aloo Tikki Burger                     Bun    1 pcs
1  Aloo Tikki Burger  Aloo Tikki Sauce (top)    15 gm
2  Aloo Tikki Burger                   Onion     8 gm
3  Aloo Tikki Burger              Aloo Tikki    1 pcs
4  Aloo Tikki Burger        Aloo Tikki Sauce    12 gm


        Burger_Name   Ingredient Quantity
5  Aloo Tikki Twist          Bun    1 pcs
6  Aloo Tikki Twist  Twist Sauce    12 gm
7  Aloo Tikki Twist        Onion     8 gm
8  Aloo Tikki Twist   Aloo Tikki    1 pcs
9  Aloo Tikki Twist   Mayonnaise    15 gm


    Burger_Name          Ingredient Quantity
10  Veg Makhani                 Bun    1 pcs
11  Veg Makhani  Makhni Sauce (top)    12 gm
12  Veg Makhani             Iceberg     8 gm
13  Veg Makhani               Onion     8 gm
14  Veg Makhani           Veg Tikki    1 pcs
15  Veg Makhani        Makhni Sauce    15 gm


          Burger_Name           Ingredient Quantity
16  Crispy Veg Burger                  Bun    1 pcs
17  Crispy Veg Burger         Creamy Sauce    20 gm
18  Crispy Veg Burger              Lettuce     8 gm
19  Crispy Veg Burger             Jalapeno    2 pcs
20  Crispy Veg Burger                Onion     8 gm
21  Crispy Veg Burger            Veg Tikki    1 pcs
22  Crispy Veg Burger  Chilly Loaded Sauce    10 gm


                 Burger_Name                 Ingredient Quantity
23  Veg Chilly Loaded Burger                        Bun    1 pcs
24  Veg Chilly Loaded Burger  Chilly Loaded Sauce (top)    20 gm
25  Veg Chilly Loaded Burger                    Lettuce     8 gm
26  Veg Chilly Loaded Burger                      Onion     8 gm
27  Veg Chilly Loaded Burger                   Jalapeno    2 pcs
28  Veg Chilly Loaded Burger                  Veg Tikki    1 pcs
29  Veg Chilly Loaded Burger        Chilly Loaded Sauce    12 gm


           Burger_Name    Ingredient Quantity
30  Desi Masala Crunch           Bun    1 pcs
31  Desi Masala Crunch  Creamy Sauce    20 gm
32  Desi Masala Crunch       Lettuce     8 gm
33  Desi Masala Crunch        Tomato    1 pcs
34  Desi Masala Crunch      Jalapeno    2 pcs
35  Desi Masala Crunch         Onion     8 gm
36  Desi Masala Crunch        Nachos    3 pcs
37  Desi Masala Crunch     Veg Tikki    1 pcs
38  Desi Masala Crunch   Nacho Sauce    12 gm


       Burger_Name     Ingredient Quantity
39  Punjabi Paneer            Bun    1 pcs
40  Punjabi Paneer  Supreme Sauce    25 gm
41  Punjabi Paneer        Iceberg     8 gm
42  Punjabi Paneer         Tomato    2 pcs
43  Punjabi Paneer       Jalapeno    2 pcs
44  Punjabi Paneer          Onion     8 gm
45  Punjabi Paneer   Paneer Tikki    1 pcs
46  Punjabi Paneer     Wrap Sauce    15 gm


        Burger_Name       Ingredient Quantity
47  Veg King Burger              Bun    1 pcs
48  Veg King Burger       Wrap Sauce    25 gm
49  Veg King Burger          Iceberg     8 gm
50  Veg King Burger           Tomato    1 pcs
51  Veg King Burger            Onion    10 gm
52  Veg King Burger  Super Veg Tikki    1 pcs
53  Veg King Burger      Nacho Sauce    15 gm


              Burger_Name           Ingredient Quantity
54  Paneer Supreme Burger                  Bun    1 pcs
55  Paneer Supreme Burger        Supreme Sauce    25 gm
56  Paneer Supreme Burger              Lettuce     8 gm
57  Paneer Supreme Burger             Jalapeno    2 pcs
58  Paneer Supreme Burger                Onion    10 gm
59  Paneer Supreme Burger         Creamy Sauce     12gm
60  Paneer Supreme Burger         Paneer Tikki    1 pcs
61  Paneer Supreme Burger  Chilly Loaded Sauce    12 gm


                    Burger_Name           Ingredient Quantity
62  Double Crispy Cheese Burger                  Bun    1 pcs
63  Double Crispy Cheese Burger        Supreme Sauce    20 gm
64  Double Crispy Cheese Burger              Lettuce     8 gm
65  Double Crispy Cheese Burger             Jalapeno    2 pcs
66  Double Crispy Cheese Burger                Onion     8 gm
67  Double Crispy Cheese Burger         Cheese Slice    1 pcs
68  Double Crispy Cheese Burger            Veg Tikki    2 pcs
69  Double Crispy Cheese Burger  Chilly Loaded Sauce    12 gm

In [10]:
# Segregating Quantity and Unit into two new columns
df[['Quantity', 'Unit']] = df['Quantity'].str.extract(r'(\d+)\s*(\w+)')

# Removing '(top)' from the Ingredient column
df['Ingredient'] = df['Ingredient'].str.replace(r'\s*\(top\)', '', regex=True)

In [11]:
df.head(10)

         Burger_Name        Ingredient Quantity Unit
0  Aloo Tikki Burger               Bun        1  pcs
1  Aloo Tikki Burger  Aloo Tikki Sauce       15   gm
2  Aloo Tikki Burger             Onion        8   gm
3  Aloo Tikki Burger        Aloo Tikki        1  pcs
4  Aloo Tikki Burger  Aloo Tikki Sauce       12   gm
5   Aloo Tikki Twist               Bun        1  pcs
6   Aloo Tikki Twist       Twist Sauce       12   gm
7   Aloo Tikki Twist             Onion        8   gm
8   Aloo Tikki Twist        Aloo Tikki        1  pcs
9   Aloo Tikki Twist        Mayonnaise       15   gm

In [12]:
# Adding Category columns add on
# Function to determine the category of an ingredient
def get_category(ingredient):
    for category, ingredients in ingredient_category.items():
        if ingredient in ingredients:
            return category
    return 'Unknown'  # In case the ingredient is not found

# Add a new column 'Category' by applying the get_category function
df['Category'] = df['Ingredient'].apply(get_category)
df.head(23)

          Burger_Name           Ingredient Quantity Unit Category
0   Aloo Tikki Burger                  Bun        1  pcs    Other
1   Aloo Tikki Burger     Aloo Tikki Sauce       15   gm   Sauces
2   Aloo Tikki Burger                Onion        8   gm  Veggies
3   Aloo Tikki Burger           Aloo Tikki        1  pcs    Tikki
4   Aloo Tikki Burger     Aloo Tikki Sauce       12   gm   Sauces
5    Aloo Tikki Twist                  Bun        1  pcs    Other
6    Aloo Tikki Twist          Twist Sauce       12   gm   Sauces
7    Aloo Tikki Twist                Onion        8   gm  Veggies
8    Aloo Tikki Twist           Aloo Tikki        1  pcs    Tikki
9    Aloo Tikki Twist           Mayonnaise       15   gm   Sauces
10        Veg Makhani                  Bun        1  pcs    Other
11        Veg Makhani         Makhni Sauce       12   gm   Sauces
12        Veg Makhani              Iceberg        8   gm  Veggies
13        Veg Makhani                Onion        8   gm  Veggies
14        Veg Makhani            Veg Tikki        1  pcs    Tikki
15        Veg Makhani         Makhni Sauce       15   gm   Sauces
16  Crispy Veg Burger                  Bun        1  pcs    Other
17  Crispy Veg Burger         Creamy Sauce       20   gm   Sauces
18  Crispy Veg Burger              Lettuce        8   gm  Veggies
19  Crispy Veg Burger             Jalapeno        2  pcs  Veggies
20  Crispy Veg Burger                Onion        8   gm  Veggies
21  Crispy Veg Burger            Veg Tikki        1  pcs    Tikki
22  Crispy Veg Burger  Chilly Loaded Sauce       10   gm   Sauces

In [13]:
# df.to_csv("Ingredients.csv", index=False)

In [14]:
#How many times Each Ingredient Use on Burgers Recipe
unique_ingredients = df['Category'].unique()
print(unique_ingredients)
Category_ingredient_totals = df.groupby('Category')['Ingredient'].value_counts().reset_index()
Category_ingredient_totals

['Other' 'Sauces' 'Veggies' 'Tikki']

   Category           Ingredient  count
0     Other                  Bun     10
1     Other         Cheese Slice      1
2    Sauces  Chilly Loaded Sauce      5
3    Sauces         Creamy Sauce      3
4    Sauces        Supreme Sauce      3
5    Sauces     Aloo Tikki Sauce      2
6    Sauces         Makhni Sauce      2
7    Sauces          Nacho Sauce      2
8    Sauces           Wrap Sauce      2
9    Sauces           Mayonnaise      1
10   Sauces          Twist Sauce      1
11    Tikki            Veg Tikki      5
12    Tikki           Aloo Tikki      2
13    Tikki         Paneer Tikki      2
14    Tikki      Super Veg Tikki      1
15  Veggies                Onion     10
16  Veggies             Jalapeno      6
17  Veggies              Lettuce      5
18  Veggies              Iceberg      3
19  Veggies               Tomato      3
20  Veggies               Nachos      1

In [15]:
# Convert Quantity to numeric (int)
df['Quantity'] = df['Quantity'].astype(int)

#Ingredient Consumptions based on Quantity
# Group by Ingredient and sum the Quantity
ingredient_totals = df.groupby('Ingredient')['Quantity'].sum().reset_index()
ingredient_totals

             Ingredient  Quantity
0            Aloo Tikki         2
1      Aloo Tikki Sauce        27
2                   Bun        10
3          Cheese Slice         1
4   Chilly Loaded Sauce        66
5          Creamy Sauce        52
6               Iceberg        24
7              Jalapeno        12
8               Lettuce        40
9          Makhni Sauce        27
10           Mayonnaise        15
11          Nacho Sauce        27
12               Nachos         3
13                Onion        84
14         Paneer Tikki         2
15      Super Veg Tikki         1
16        Supreme Sauce        70
17               Tomato         4
18          Twist Sauce        12
19            Veg Tikki         6
20           Wrap Sauce        40

In [16]:
# Copying the DataFrame and selecting specific columns
unit_columns_df = df[['Unit', 'Ingredient']].copy()
unit_columns_df

   Unit           Ingredient
0   pcs                  Bun
1    gm     Aloo Tikki Sauce
2    gm                Onion
3   pcs           Aloo Tikki
4    gm     Aloo Tikki Sauce
..  ...                  ...
65  pcs             Jalapeno
66   gm                Onion
67  pcs         Cheese Slice
68  pcs            Veg Tikki
69   gm  Chilly Loaded Sauce

[70 rows x 2 columns]

In [17]:
# Merge both DataFrames on 'Ingredient'
merged_df = pd.merge(Category_ingredient_totals,ingredient_totals, on='Ingredient')
merged_df

   Category           Ingredient  count  Quantity
0     Other                  Bun     10        10
1     Other         Cheese Slice      1         1
2    Sauces  Chilly Loaded Sauce      5        66
3    Sauces         Creamy Sauce      3        52
4    Sauces        Supreme Sauce      3        70
5    Sauces     Aloo Tikki Sauce      2        27
6    Sauces         Makhni Sauce      2        27
7    Sauces          Nacho Sauce      2        27
8    Sauces           Wrap Sauce      2        40
9    Sauces           Mayonnaise      1        15
10   Sauces          Twist Sauce      1        12
11    Tikki            Veg Tikki      5         6
12    Tikki           Aloo Tikki      2         2
13    Tikki         Paneer Tikki      2         2
14    Tikki      Super Veg Tikki      1         1
15  Veggies                Onion     10        84
16  Veggies             Jalapeno      6        12
17  Veggies              Lettuce      5        40
18  Veggies              Iceberg      3        24
19  Veggies               Tomato      3         4
20  Veggies               Nachos      1         3

In [18]:
# Merging the three DataFrames
merged_df = Category_ingredient_totals.merge(ingredient_totals, on='Ingredient').merge(unit_columns_df, on='Ingredient')
merged_df=merged_df.drop_duplicates()
merged_df=merged_df.reset_index(drop=True)
merged_df

   Category           Ingredient  count  Quantity Unit
0     Other                  Bun     10        10  pcs
1     Other         Cheese Slice      1         1  pcs
2    Sauces  Chilly Loaded Sauce      5        66   gm
3    Sauces         Creamy Sauce      3        52   gm
4    Sauces        Supreme Sauce      3        70   gm
5    Sauces     Aloo Tikki Sauce      2        27   gm
6    Sauces         Makhni Sauce      2        27   gm
7    Sauces          Nacho Sauce      2        27   gm
8    Sauces           Wrap Sauce      2        40   gm
9    Sauces           Mayonnaise      1        15   gm
10   Sauces          Twist Sauce      1        12   gm
11    Tikki            Veg Tikki      5         6  pcs
12    Tikki           Aloo Tikki      2         2  pcs
13    Tikki         Paneer Tikki      2         2  pcs
14    Tikki      Super Veg Tikki      1         1  pcs
15  Veggies                Onion     10        84   gm
16  Veggies             Jalapeno      6        12  pcs
17  Veggies              Lettuce      5        40   gm
18  Veggies              Iceberg      3        24   gm
19  Veggies               Tomato      3         4  pcs
20  Veggies               Nachos      1         3  pcs

In [19]:
merged_df.head(2)

  Category    Ingredient  count  Quantity Unit
0    Other           Bun     10        10  pcs
1    Other  Cheese Slice      1         1  pcs

In [20]:
dummy_data.head(2)

        Date          Food Item  Sales  Price Category
0 2024-07-01  Aloo Tikki Burger     69     49   Burger
1 2024-07-01   Aloo Tikki Twist     54     69   Burger

In [21]:
import pandas as pd
import plotly.graph_objs as go

# Convert both dictionaries to DataFrames
df_ingredients = df
df_sales = dummy_data

# Merge the ingredient data with sales data based on the burger name (Food Item in sales and Burger_Name in ingredients)
merged_data = pd.merge(df_sales, df_ingredients, how='left', left_on='Food Item', right_on='Burger_Name')

# Calculate total ingredient consumption based on sales
merged_data['Total_Consumption'] = merged_data['Sales'] * merged_data['Quantity']

# Group the data by Ingredient and sum up the total consumption
ingredient_consumption = merged_data.groupby('Ingredient').agg({'Total_Consumption': 'sum'}).reset_index()

# Function to visualize ingredient consumption
def visualize_total_consumption(consumption_df):
    """
    Function to visualize total ingredient consumption using a bar chart.
    
    Parameters:
    - consumption_df (pd.DataFrame): DataFrame containing ingredient consumption data.
    """
    fig = go.Figure()

    fig.add_trace(go.Bar(
        x=consumption_df['Ingredient'],  # Ingredients on X-axis
        y=consumption_df['Total_Consumption'],  # Total consumption on Y-axis
        name='Total Consumption'
    ))

    # Customize the layout
    fig.update_layout(
        title='Total Ingredient Consumption Based on Sales',
        xaxis_title='Ingredients',
        yaxis_title='Total Consumption (in units/gm)',
        template='plotly_dark',
        font=dict(
            family="Courier New, monospace",
            size=14,
            color="white"
        )
    )

    # Show the figure
    fig.show()

# Call the function to visualize
visualize_total_consumption(ingredient_consumption)

In [ ]:
# Convert both dictionaries to DataFrames
    df_ingredients = pd.DataFrame(ingredient_data)
    df_sales = pd.DataFrame(sales_data)

    # Convert 'Date' column to datetime
    df_sales['Date'] = pd.to_datetime(df_sales['Date'])

    def main():
        st.title("Burger Ingredient Consumption Analysis")

        # User input for date range
        start_date = st.date_input("Start Date", value=pd.to_datetime("2024-07-01"))
        end_date = st.date_input("End Date", value=pd.to_datetime("2024-09-30"))

        # User input for food items selection
        food_items = df_sales['Food Item'].unique()
        selected_items = st.multiselect("Select Food Items", options=food_items, default=food_items)

        if st.button("Analyze"):
            logging.info(f"User selected date range: {start_date} to {end_date} and food items: {selected_items}")
            try:
                # Filter the sales data based on user selections
                filtered_sales = df_sales[(df_sales['Date'] >= start_date) & (df_sales['Date'] <= end_date) & (df_sales['Food Item'].isin(selected_items))]
                
                # Check if the filtered data is empty
                if filtered_sales.empty:
                    st.warning("No data available for the selected date range and food items.")
                    logging.warning("No data available for the selected date range and food items.")
                else:
                    # Merge the filtered sales with ingredient data
                    merged_data = pd.merge(filtered_sales, df_ingredients, how='left', left_on='Food Item', right_on='Burger_Name')

                    # Calculate total ingredient consumption based on sales
                    merged_data['Total_Consumption'] = merged_data['Sales'] * merged_data['Quantity']

                    # Group the data by Ingredient and sum up the total consumption
                    ingredient_consumption = merged_data.groupby('Ingredient').agg({'Total_Consumption': 'sum'}).reset_index()

                    # Visualize total ingredient consumption
                    visualize_total_consumption(ingredient_consumption)

            except Exception as e:
                st.error("An error occurred while processing the data.")
                logging.error(f"Error occurred: {e}")

In [23]:
df_ingredients = pd.read_csv('D:/work/Burger Buddy/artifacts/Ingredients.csv')
df_sales = pd.read_csv('D:/work/Burger Buddy/artifacts/restaurant_dummy_sales.csv')

In [24]:
df_sales['Date'] = pd.to_datetime(df_sales['Date'])

In [25]:
df_sales

          Date                    Food Item  Sales  Price Category
0   2024-07-01            Aloo Tikki Burger     39     49   Burger
1   2024-07-01             Aloo Tikki Twist     30     69   Burger
2   2024-07-01                  Veg Makhani     20     79   Burger
3   2024-07-01            Crispy Veg Burger     56     99   Burger
4   2024-07-01     Veg Chilly Loaded Burger     60     99   Burger
..         ...                          ...    ...    ...      ...
915 2024-09-30           Desi Masala Crunch     27    119   Burger
916 2024-09-30               Punjabi Paneer     54    109   Burger
917 2024-09-30              Veg King Burger     37     99   Burger
918 2024-09-30        Paneer Supreme Burger     80    129   Burger
919 2024-09-30  Double Crispy Cheese Burger     86    129   Burger

[920 rows x 5 columns]

In [26]:

# User input for date range
start_date = "2024-07-01"
end_date = "2024-07-30"

	# User input for food items selection
food_items = df_sales['Food Item'].unique()
selected_items = ["Aloo Tikki Burger", "Aloo Tikki Twist", "Veg Makhani", "Crispy Veg Burger"]
# Filter the sales data based on user selections
filtered_sales = df_sales[(df_sales['Date'] >= start_date) & (df_sales['Date'] <= end_date) & (df_sales['Food Item'].isin(selected_items))]
			
# Check if the filtered data is empty
if filtered_sales.empty:
	st.warning("No data available for the selected date range and food items.")
	lg.warning("No data available for the selected date range and food items.")
else:
# Merge the filtered sales with ingredient data
	merged_data = pd.merge(filtered_sales, df_ingredients, how='left', left_on='Food Item', right_on='Burger_Name')

# Calculate total ingredient consumption based on sales
	merged_data['Total_Consumption'] = merged_data['Sales'] * merged_data['Quantity']
# Group the data by Ingredient and sum up the total consumption
	ingredient_consumption = merged_data.groupby('Ingredient').agg({'Total_Consumption': 'sum'}).reset_index()
	# Visualize total ingredient consumption
	ingredient_consumption

In [27]:
ingredient_consumption

             Ingredient  Total_Consumption
0            Aloo Tikki               3653
1      Aloo Tikki Sauce              47601
2                   Bun               7108
3   Chilly Loaded Sauce              16300
4          Creamy Sauce              32600
5               Iceberg              14600
6              Jalapeno               3260
7               Lettuce              13040
8          Makhni Sauce              49275
9            Mayonnaise              28350
10                Onion              56864
11          Twist Sauce              22680
12            Veg Tikki               3455